<!-- <h1>Coaching#answer</h1>
  <p>Find me in app/views/coaching/answer.html.erb</p> -->
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4 text-center">
        <blockquote>
          <h3><%= @query %></h3>
          <p>- You</p>
        </blockquote>
        <blockquote>
          <h3><%= @answer%></h3>
          <p>- Your coach</p>
        </blockquote>
        <h4>
          <%= link_to 'Ask a new question', root_path %>
        </h4>
      </div>
    </div>
  </div>

